/*header*/
.row{
  background: #808080;
  width: auto;
}
#logo{
  padding-left: 30px;
  padding-right: 20px; 
  border: 5px solid #FF4500; 
}
div.social_media_icons {
  cursor: pointer;
  right: 2px;
  padding: 7px;
  position: fixed;
  border: 3px solid #4682B4; 
}

/*body*/
.descriptions{
  border: 3px solid black;
  text-align: center;
  margin: 6px;
  padding: 30px;
  width: 50%;
  float: right; 
}
#show_window{
	text-decoration: underline;
	cursor: pointer;
	color: #4169E1;
}
.exit{
	float: right;
	margin-right: -10px;
	margin-top: -19px;
	cursor: pointer;
	color: #4169E1;
}
.modal_window{
	width:90%;
	max-width:400px;
	padding:15px 20px;
	background:#FFF;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-transform:translateY(-30px);
	-moz-transform:translateY(-30px);
	-ms-transform:translateY(-30px);
	-o-transform:translateY(-30px);
	transform:translateY(-30px);
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	transition-property:transform;
	-webkit-transition-duration:.3s;
	-moz-transition-duration:.3s;
	transition-duration:.3s;
	padding:20px;
	-webkit-box-shadow:0 5px 41px 0 rgba(0,0,0,1);
	-moz-box-shadow:0 5px 41px 0 rgba(0,0,0,1);
	box-shadow:0 5px 41px 0 rgba(0,0,0,1);
	overflow:auto;
	border:5px solid transparent;
	border-color:rgba(239,236,236,0.52);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px
}
.modal_window{
	display: none;
    position: fixed;
    opacity: 1; 
    z-index: 11000; 
    left: 50%; 
    margin-left: -200px; 
    top: 130px;
	text-align:center;
	font-size:17px;
	line-height:30px;
}
input[type=text]:focus {
  border: 3px solid #DAA520;
}
input[type=password]:focus{
	border: 3px solid #9932CC;
}
.logine{
	background: #87CEEB;
	border: 2px solid blue;
	text-align: center;
	width: 40%;
	margin: 20px;
	padding: 15px;
}
.logine input{
	position: relative;
	margin: 3px;
	border-radius: 15px;
}
.between{
	margin-top: 5em;
	border-top: 2px solid #F4A460;
}
.razdel{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
span.razdel2{
	background:#3094bf;
	padding:5px;
	border-radius:3px;
	color:#fff;
}
.news{
	border: 1px solid #000;
	margin-top: 4em;
	margin-left: 40px;
	margin-bottom: 30px;
	width: 95%;
	text-align: right;
}
.img_new{
	size: auto;
	max-width: 290px;
	max-height: 370px;
	float: right;
}

/*footer*/
.footer{
  background: #000000;
  margin-bottom: 0px;

}
.footer__info{
  margin-left: 1em;
  margin-right: auto;
  color: #9b9b9b;
}
.footer__link{
  text-align: center;	
  position: relative;
  color: #9b9b9b;
  margin-left: auto;
  margin-right: 2em;
  right: -11cm;
}
